.about-container{
  margin: 0 auto;
  margin-top: 30px;
  color: #00bcd4;
}
.about-container .gitinfo{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  margin:20px 10px;
}
.gitinfo-card{
  width: 30%;
  border-right: 1px solid #eee;
}
.gitinfo-card:last-child{
  border-right: 0;
}
.gitinfo-card p{
  line-height: 2.8em;
}
.gitinfo-card span{
  line-height: 2.2em;
  color:#E91E63;
  font-weight: 600;
}
.thumbnail{
  max-width: 381px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.row{
  margin: 0;
}
