
.card{
  width: 100%;
  margin-top: 15px;
  height: 80px;
  display: flex;
}

.index{
  display: flex;
  background:rgb(0, 188, 212);
  width: 10%;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.aside{
  padding: 0 3%;
  width: 90%;
}
.title{
  color: rgb(119, 119, 119);
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  margin-top: 20px;
}
.blog-btn{
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  background-color: #fff;
  border: 1px solid #FF4081;
  border-radius: 20px;
  padding: 3px 14px;
  color: #FF4081;
  font-size: 14px;
  float: right;
  margin-top: -8px;
}
.blog-btn:hover{
  color:#fff;
  background-color: #ff4081;
}
